.prod-info-title, .prod-info-price{
    font-size: 28px;
    line-height: 34px;
}

.prod-info-description{
    font-size: 14px;
    line-height: 26px;
    font-family: Circular, sans-serif;
}

.chose-pot-color-1{
    padding: 2px 14px;
    background-color: green;
    display: inline;
    color: white;
    border-radius: 40px;
    font-family: "Raisonne Demibold", sans-serif;
    font-size: 14px;
    line-height: 28px;
}

.choose-pot-color-text{
    font-family: "Raisonne Demibold", sans-serif;
    font-size: 14px;
    line-height: 28px;

}

.color{
    width: 44px;
    height: 44px;
    border-radius: 36px;
}

.prod-info-swatch{
    margin-right: 30px;
}

.prod-info-swatch span{
    display: inline-block;
}

.prod-info-swatch-color-text{
    font-family: Nib,serif;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    color: #224229;
}

.prod-info-swatch{
    justify-content: center;
    align-items: center;
}
